<footer class="footer">
  <div class="container">
    <div class="brand-col">
      <div class="logo">Fonepay Developer</div>
      <p class="copyright">© {{year}} Fonepay. All rights reserved.</p>
    </div>
    <div class="links-grid">
      <div class="link-col">
        <h4>Products</h4>
        <a href="#">Fonepay QR</a>
        <a href="#">Online Payment</a>
        <a href="#">Direct API</a>
      </div>
      <div class="link-col">
        <h4>Resources</h4>
        <a href="#">Documentation</a>
        <a href="#">API Reference</a>
        <a href="#">Support</a>
      </div>
      <div class="link-col">
        <h4>Company</h4>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
